/* common styles or utilities */
body{
    background-color:  #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
}
/* HEADER Styles */
.header{
    display: flex;
    background-color: black;
    color: white;
    margin: 50px 140px 130px 140px;
    border-radius: 30px;
    align-items: center;
}
.head{
    width: 531px;
    height: 550px;
    margin-left: 50px; 
    padding-bottom: 0; 
}
.head h1{
    font-size:50px;
    text-align: left;
}
.head p{
    font-size: 20px;
    text-align: left;
    width: 600px; 
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}
.head a{
    color: #FFFFFF;
    border: 1px solid red;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
}
.head-img{
    width:40%;
    border: none;
}
/* MAIN SECTION */
.container{
    margin-top: 0;
    margin-right: 10%;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    position: absolute;
    width: 180px;
    height: 150px; 
    background-color: black;
    padding: 20px;
    margin-top: 0;
    margin-left: 250px; 
    border-radius: 5px;
}
.button{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 180px;
   height: 200px;
}
.buttons a{
    color: black;
    background-color: white;
    padding: 0px 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}
#blog-button{
    color: #FFFFFF;
    background-color: red;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-left:520px;
    margin-right: 100px;
    margin-top: 0;
}
.blog{
    margin-bottom: 10px;
    width: 312px;
    height: 375px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
.blog-banner img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 312px;
    height: 175px;
    padding: 0;
    margin-bottom: 10px;
}
.blog-details{
    padding: 10px;
}
.match-duration{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
    margin-right: 50%;
}
.live-button{
    color: black;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;  
}

/*  Footer  */
.footer {
    background-color: black;
    margin-top: 100px;

}

.footer-section {
    padding: 80px;
}

.footer-section h3 {
    color: white;
    text-align: center;

    font-size: 25px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 50px;
}

.menu {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0 200px;
    margin-top: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
}
